@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --green-color: rgb(82, 255, 169);
  --black-color: rgb(32, 38, 50);
  --dark-grey-color: rgb(49, 58, 73);
}

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: var(--black-color);
  overflow-x: hidden;
  font-family: 'Manrope';
  font-weight: 600;
}

.content {
  background: var(--dark-grey-color);
  border-radius: 20px;
  box-shadow: 0px 0px 10px 6px rgba(34, 60, 80, 0.2);
  padding: 50px 30px;
  width: 100%;
  max-width: 700px;
  margin-bottom: 30px;
}

.quote__text {
  color: white;
  font-size: 25px;
  margin-bottom: 20px;
}
.quote__author {
  color: var(--green-color);
  font-size: 20px;
  margin-bottom: 20px;
}
.quote__category {
  color: white;
  font-size: 18px;
}

.btn {
  border: 2px solid transparent;
  background: var(--green-color);
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color:var(--black-color);
  border-radius: 15px;
  font-family: 'Manrope';
  font-weight: 700;
  width: 200px;
  cursor: pointer;
  justify-self: center;
  transition: all .2s;
}

.loading, .error {
  color: white;
  font-size: 20px;
}

@media(hover: hover) and (pointer: fine) {
  .btn:hover {
    border: 2px solid var(--green-color);
    background: var(--black-color);
    color: var(--green-color);
    transition: all .2s;
  }
}

@media(max-width: 400px) {
  #root {
    padding: 1.5rem;
  }
  .quote__text {
    font-size: 18px;
  }
  .quote__author {
    font-size: 16px;
  }
  .quote__category {
    font-size: 14px;
  }
  .btn {
    width: 100%;
  }
}
@media(max-width: 330px) {
  .content {
    width: 95%;
  }
  .btn {
    width: 93%;
  }
}